:root {
  margin: 0;
  padding: 0;
  background: #121212;
  color: White;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: grid;
  margin: 10px;
  grid-column-start: 1;
  grid-template-columns: repeat(16, 20px);
  border: solid Orange 5px;
}

.pixel {
  background: White;
}

#counter {
  font-size: 2rem;
  margin: 10px;
}

#favcolor {
  margin: 20px;
  width: 2rem;
  height: 2rem;
  transform: scale(2);
  transition: transform .5s;
  border: none;
  border-color: transparent;
  outline: none;
}

#favcolor:hover {
  transform: scale(2.2);
}
